* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: #74889c;
}

html {
    scroll-behavior: smooth;
}

.gradiant-text {
    background: linear-gradient(to top, #43513a, black);
    -webkit-background-clip: text;
    color: transparent;
    {/*@apply bg-gradient-to-t from-[#43513a] to-black text-transparent;*/}
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: typing-text 7s steps(60) infinite, blink ease 0.3s infinite;
    text-wrap: nowrap;
    display: inline-block;
    width: max-content;
    width: 0;
}

@keyframes typing-text {
    from {
        width: 0%;
    } 
    to {
        width: 100%;
    }
}

@keyframes typing-text {
    50% {
        border-color: transparent;
    }
}

/*.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}*/


/* App.css */
/*.fixed {
    position: fixed;
  }
  
  .bg-[#74889c] {
    background-color: #74889c;
  }
  
  .text-[#43513a] {
    color: #43513a;
  }
  
  .text-[#FFFFFF] {
    color: #FFFFFF;
  }
  
  .text-[#d7cdc0] {
    color: #d7cdc0;
  }
  
  .hover\:text-[#d7cdc0]:hover {
    color: #d7cdc0;
  }
  
  .duration-300 {
    transition-duration: 300ms;
  }
  
  .hidden {
    display: none;
  }
  
  .lg\:flex {
    display: flex;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .top-[35%] {
    top: 35%;
  }
  
  .left-0 {
    left: 0;
  }
  
  .w-[160px] {
    width: 160px;
  }
  
  .h-[60px] {
    height: 60px;
  }
  
  .ml-[-100px] {
    margin-left: -100px;
  }
  
  .hover\:ml-[-10px]:hover {
    margin-left: -10px;
  }
  
  .bg-blue-600 {
    background-color: #2563EB;
  }
  
  .bg-[#333333] {
    background-color: #333333;
  }
  
  .bg-[#6fc2b0] {
    background-color: #6fc2b0;
  }
  
  .bg-[#565f69] {
    background-color: #565f69;
  }
  
  .text-gray-300 {
    color: #D1D5DB;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .w-full {
    width: 100%;
  }
  
  .ml-4 {
    margin-right: 1rem;
  }*/


/*  .whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}*/

/* for mobile */
/*@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}*/
